body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.logo {
    /* width: 150px; */
    size: 1000px;
    margin-left: 10%;
}

nav {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a.button {
    background-color: #4285F4;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    margin-bottom: 20px;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 60px 0;
    margin-bottom: 30px;
}

.content {
    max-width: 50%;
    
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

h2 {
    font-size: 1.5em;
    color: #555;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
}

.google {
    color: #4285F4;
    font-weight: bold;
}

.highlight1 {
    color: #FBBC05;
    font-weight: bold;
}

.highlight2 {
    color: #4285F4;
    font-weight: bold;
}

.highlight3 {
    color: #EA4335;
    font-weight: bold;
}


.highlight4 {
    color: #34A853;
    font-weight: bold;
}


.button {
    display: inline-block;
    margin-top: 20px;
    background-color: #4285F4;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
}

.image {
    max-width: 40%;
}

.image img {
    width: 100%;
}

/* page 2  */

.university-info {
    width: 80%;
    max-width: 1200px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.university-info img {
    width: 100%;
    height: auto;
}

.text-content {
    padding: 20px;
}

.text-content h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.text-content p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: right;
    gap: 10px;
    margin-bottom: 20px;
}

.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.social-icons a:hover {
    background-color: #e0e0e0;
}

.social-icons img {
    width: 20px;
    height: 20px;
}

.join-button {
    /* display: inline-block; */
    margin-right: 500px;
    justify-content: left;
    background-color: #4285F4;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s;
}

.join-button:hover {
    background-color: #3367d6;
}

/* page 4 */

.info-boxes {
    display: flex;
    justify-content: space-between;
    width: 82%;
    max-width: 1200px;
    margin-top: 5%;
    gap: 20px;
}

.info-box {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    text-align: left;
    width: 30%;
    margin-bottom: 40px;
}

.info-box img.icon {
    width: 30px;
    height: 50px;
    margin-bottom: 20px;
}

.info-box img.icon1 {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}

.info-box img.icon2 {
    width: 50px;
    height: 40px;
    margin-bottom: 20px;
}

.info-box h3 {
    margin: 10px 0;
    font-size: 1.5em;
}

.info-box p {
    color: #666;
    font-size: 1em;
    margin: 10px 0;
}


/* page 3 */

.text{
    font-size: 1em;
    margin: 50px 10%;
}

.about h2{
    font-size: 200%;
    margin-left: 46%;
    color: #333;
}

.about p{
    font-size: medium;
}



/* actual */


main {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.opportunities {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    /* width: 100%; */
    /* max-width: 1200px; */
    text-align: center;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 30px 20px;
}

.opportunities h2 {
    font-size: 2em;
    margin-bottom: 40px;
    color: #333;
}

.opportunity-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.opportunity-item {
    padding-inline: 70px;
    width: 40%;
    margin-bottom: 20px;
    text-align: left;
}

.opportunity-item p {
    font-size: 1em;
    color: #666;
    line-height: 1.5;
}

/* page 5 */



.container {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    margin-top: 5%;
}

.container .load {
        /* display: inline-block; */
        /* margin-top: 20px; */
        background-color: #4285F4;
        color: white;
        padding: 15px 30px;
        border-radius: 5px;
        border: #4285F4;
        /* text-decoration: none; */
}

.container button{
    margin-left: 46%;
    margin-top: 2%;
}

.container button:hover{
    background-color: #3367d6;
}

h1 {
    text-align: center;
    margin-bottom: 10%;
    color: #333;
}

.events {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.event {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: calc(25% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.event img {
    border-radius: 50%;
    width: 150px;
    margin-bottom: 15px;
}

.event .event-date {
    font-weight: bold;
    margin-bottom: 10px;
}

.event .event-details h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
}

.event .event-details p {
    margin: 0;
    font-size: 14px;
}

/* page 6 */


.container6 {
    max-width: 2000px;
    /* margin: auto; */
    text-align: center;
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    /* margin: 0; */
}

.org h1 {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
    color: #000000;
}

.photos {
    width: 100%;
    display: flex;
    /* justify-content: space-around; */
    
    flex-wrap: wrap;
}

.img1 {
    position: relative;
    width: 200px;
    margin-bottom: 10%;
    padding: 10px;
    border-radius: 50%;
}

.photos img {
    width: 100%;
    border-radius: 100px;
    transition-delay: 50ms;
}

.overlay {
    position: relative;
    bottom: 0;
    /* background: #4285F4; Black background with transparency */
    color: #ff0000;
    width: 93%;
    text-align: center;
    padding: 10px;
    /* border-radius: 0 0 8px 8px; */
}

.overlay h2 {
    margin: 5px 0;
    font-size: 18px;
}

.overlay h3 {
    margin: 0;
    font-size: 14px;
}

.img1 img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img1 img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* page 7 */




.stay-in-touch {
    background-color: #4285f4; /* Google blue color */
    padding: 40px 0;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px 490px;
    width: 1500;
    margin-bottom: 200px;
}

.stay-in-touch h2 {
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
    font-size: 30px;
    color: #fff;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px ;
    gap: 20px;
}

.social-icon {
    display: flex;
    gap: 5px;
    /* flex-direction: column; */
    align-items: center;
    text-decoration: none;
    color: #4285F4;
    background-color: #fff;
    padding: 3px 12px;
    border-radius: 3px;
    transition: transform 0.3s;
}

.social-icon img {
    width: 20px;
    height: 20px;
    margin-bottom: px;
}

.social-icon span {
    font-size: 14px;
}

.social-icon:hover {
    transform: scale(1.1);
}

/* page 8 */


/* .container2 {
    display: flex;
    width: 80%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.partners, .video {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.partners {
    background-color: #e0f7fa;
}

.partners h2, .video h2 {
    text-align: center;
    margin-bottom: 20px;
}

.partners img {
    display: block;
    max-width: 50%;
    margin: 10px auto;
}

.video iframe {
    width: 100%;
    height: 315px;
    border: none;
} */


/* page 9 */


body {
    font-family: Arial, sans-serif;
}

.footer {
    background-color: #f9f9f9;
    padding: 20px 50px;
    border-top: 1px solid #eaeaea;
    /* justify-content: space-between;
    gap: 20px; */
}

.footer .container {
    width: 80%;
    /* margin: 0 auto; */
    display: flex;
    justify-content: left;
    align-items: flex-start;
    gap: 100px;
    padding: 0 200px;
}

.footer .left,
.footer .middle,
.footer .right2,
.footer .right {
    width: 200px;
}

.footer .left {
    text-align: left;
    padding: 0 20px;
    width: 200px;
    
}

.footer .left img {
    width: 150px;
}

.footer .left p {
    margin: 5px 0;
    color: #666;
}

.footer .left .social-icons img {
    width: 24px;
    margin-right: 10px;
}

.footer .middle,
.footer .right {
    text-align: left;
}

.footer h3 {
    margin-bottom: 10px;
    color: #333;
}

.footer a {
    display: block;
    margin-bottom: 5px;
    color: #666;
    text-decoration: none;
    font-size: 14px;
}

.footer a:hover {
    color: #333;
}

.footer .social-icons {
    margin-top: 10px;
}